@font-face {
    font-family: 'Cocogoose';
    src: url('../fonts/cocogoose.ttf') format('ttf'),
         url('../fonts/cocogoose_pro-webfont.woff2') format('woff2'),
         url('../fonts/cocogoose_pro-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'Cocogoose';
}