@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
    font-family: 'Cocogoose';
    src: url('../fonts/cocogoose.ttf') format('ttf'),
         url('../fonts/cocogoose_pro-webfont.woff2') format('woff2'),
         url('../fonts/cocogoose_pro-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    /* Colors */
    --ialaw-blue-400: #011EF4;
    --ialaw-blue-300: #5C70FE;
    --ialaw-blue-200: #C2C9FF;
    --ialaw-yellow-400: #FBBB02;
    --ialaw-yellow-300: #FEE49A;
    --black-400: #2D2D2E;
    --black-300: #939395;
    --gray-400: #E0E0E1;
    --gray-300: #F2F2F2;
    --gray-100: #F7F7F7;

    /* Text Size */
    --base: 1rem;
    --factor:1.25;

    --size-2: calc(var(--size-1) / var(--factor));
    --size-1: calc(var(--base) / var(--factor));
    --size0: var(--base);
    --size1: calc(var(--base) * var(--factor));
    --size2: calc(var(--size1) * var(--factor));
    --size3: calc(var(--size2) * var(--factor));
    --size4: calc(var(--size3) * var(--factor));
    --size5: calc(var(--size4) * var(--factor));
    --size6: calc(var(--size5) * var(--factor));

  }

/* Ajustes Generales */
body {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    color: var(--black-400);
    font-size: 16px;
    margin:0;
    padding:0;
}

h1{
    font-family: 'Cocogoose', 'Poppins', Arial, Helvetica, sans-serif;
    font-size: var(--size4);
}

a{
    color: var(--ialaw-blue-400);
    font-size: var(--base);
}

/* Layout */
.container{
    width:1184px;
    margin: 0 auto;
}

/* Componentes*/
.button{
    font-size: var(--base);
    padding: var(--size-1) var(--base) ;
    background-color: var(--ialaw-blue-400);
    color:white !important;
    font-weight: 700;
    display: inline-flex;
    border-radius: var(--base);
}
.button > a{
    text-decoration: none !important;
    font-size: inherit;
}
.button--negative{
    background-color: white;
    color: var(--ialaw-blue-400);
}

.button--size1{
    font-size: var(--size1);
    padding: var(--size0) var(--size1);
}

.button--size2{
    font-size: var(--size2);
    padding: var(--size1) var(--size2);
}

/* Menú */
.nav{
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
    align-items: flex-start;
}

.menu {
    display: flex;
    align-items: center;
}

.menu__pages{
    display: flex;
    align-items: center;
    list-style: none;
    gap:16px;
    font-weight: 700;
}

.menu__rrss{
    display: flex;
    list-style: none;
    gap: 16px;
}

.hero{
    background-color: var(--ialaw-blue-400);
    border-radius: 16px;
    color: white;
    padding: 48px;
    margin-top: 48px;;
    display: flex;
}

.hero--left{
    width: 100%;
}

.hero--right{
    width: 100%;
}

.hero__img{
    background-image: url(../img/hero-ialaw-img.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 150%;
    position: relative;
    top: -15%;
    right: -20%;
}

.hero__img > img{
    max-width: 100%;
}