@use '../utilities/mixins' as *;

.somos {
  &__content {
    @include dflex(flex-start);
    gap: 24px;
    @include maxquery(tablet) {
      align-items: center;
      flex-direction: column;
      gap: 32px;
    }
  }
  &__description {
    flex: 1;
    p + p {
      margin-top: 20px;
    }
  }
  &__img {
    flex: 1;
    img {
      @include img(351px);
      margin: 0 auto;
      @include maxquery(mobile) {
        @include img(264px);
      }
    }
  }
}